<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <style>
        .nav1,
        .but {
            background-color: #305C71
        }
        .navbar {
            padding: 15px;
        }
        body {
            font-family: 'Comic Sans MS';
        }
    </style>
    <title>DocVerify</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg nav1">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color: white">DocVerification</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" style="color: white">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/verify" style="color: white">Verify</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-xl-9 col-lg-9" style="padding-top: 20px;">
                <h1 class="heading" style="padding-top:20px"> Document verification </h1>
                <p class="sub-heading" style="font-size: 1.5em;">Welcome to our document verification service!</p>
                <p style="text-align: justify; font-size: 1.2em; margin-bottom: 20px;">
                    Are you in need of verifying crucial documents like degree certificates or identification papers? Our
                    platform employs cutting-edge Machine Learning technology to ensure the authenticity and accuracy of
                    your uploaded PDFs or JPEGs.
                </p>
                <p style="text-align: justify; font-size: 1.2em; margin-bottom: 20px;">
                    Whether it's confirming the legitimacy of a university degree or validating an official ID, our
                    system meticulously checks vital elements such as logos, names, components, and signature
                    authorities. With our advanced algorithms, we aim to provide a seamless and reliable verification
                    process, ensuring that your documents meet the necessary criteria.
                </p>
                <p style="text-align: justify; font-size: 1.2em;">
                    Trust us to validate your documents swiftly and securely, giving you peace of mind in their
                    authenticity.
                </p>
            </div>
            <div class="col-xl-3 col-lg-3 d-flex align-items-center justify-content-center">
                <img src="{{ url_for('static', filename='mydoc.jpg') }}" alt="Document Image" style="border-radius: 10px;margin-top: 70px; margin-left: 120px">
            </div>    
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>